.b-container {
	position: relative;
}
.b-container .b-preloader {
	background: rgba( 255, 255, 255, 0.5 ) url( '../imgs/preloader.gif' ) center/auto no-repeat;
	display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}
#b-location-list #b-categories,
#b-location-list #b-search,
#b-location-list #b-location {
    background: #eee;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}
#b-location-list #b-categories {
    height: auto;
	width: 100%;
}
#b-location-list #b-location ul {
    list-style: none;
	margin-bottom: 0;
    padding: 0;
}
#b-location-list #b-location li {
    margin: 5px 0;
}
#b-location-list #b-location li a {
    color: #333;
}